@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind forms;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

p {
  margin: 0;
}

.fill-available {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}

button {
  border: none;
  color: white;
  padding: 0.7rem 1.2rem;
  font-weight: bold;
  border-radius: 1rem;
  background-color: rgb(16 185 129);
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:visited, a:link, a:hover, a:active {
  color: inherit;;
}

input[type=text] {
  border-radius: 1rem;
}

label {
  text-align: center;
}
